# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# SQL Local Files
# ==========================
*.db
*.sqlite
*.sqlite3